# Compute intraclass correlation

This script require R



Requirements
--

You need the free software R  : go to [R download page](https://cran.r-project.org/)

Your data file need to be in a dyadic structure : go to [this page](https://www.seodle.info/toolbox/python_indivdual_to_dyadic_structure.html) to see how restructure your table in python.

# Code

### Read .CSV file

In [2]:
data <- read.csv("input.csv", sep = ";")
head(data)

  Dyade p1 p2
1 1     8  6
2 2     5  3
3 3     7  2
4 4     8  5
5 5     8  7
6 6     5  6

### Create new column with mean scores of the two participants

In [3]:
data$mean <- (data$'p1'+data$'p2')/2
head(data)

  Dyade p1 p2 mean
1 1     8  6  7.0
2 2     5  3  4.0
3 3     7  2  4.5
4 4     8  5  6.5
5 5     8  7  7.5
6 6     5  6  5.5

### Create new column with distances between the two participants

In [4]:
data$distance <- data$'p1'-data$'p2'

In [5]:
data

  Dyade p1 p2 mean distance
1 1     8  6  7.0   2
2 2     5  3  4.0   2
3 3     7  2  4.5   5
4 4     8  5  6.5   3
5 5     8  7  7.5   1
6 6     5  6  5.5  -1

### Compute mean of all 2n scores

In [6]:
M <- mean(c(data$'p1',data$'p2'), na.rm = TRUE)
M

[1] 5.833333

### Compute (mean - M)² for each dyad

In [7]:
data$"(mean-M)²" <- (data$mean - M)^2

In [8]:
data

  Dyade p1 p2 mean distance (mean-M)²
1 1     8  6  7.0   2       1.3611111
2 2     5  3  4.0   2       3.3611111
3 3     7  2  4.5   5       1.7777778
4 4     8  5  6.5   3       0.4444444
5 5     8  7  7.5   1       2.7777778
6 6     5  6  5.5  -1       0.1111111

### Compute distance² for each dyad

In [9]:
data$"distance²" <- (data$distance)^2

In [10]:
data

  Dyade p1 p2 mean distance (mean-M)² distance²
1 1     8  6  7.0   2       1.3611111  4
2 2     5  3  4.0   2       3.3611111  4
3 3     7  2  4.5   5       1.7777778 25
4 4     8  5  6.5   3       0.4444444  9
5 5     8  7  7.5   1       2.7777778  1
6 6     5  6  5.5  -1       0.1111111  1

### Compute sum of (mean - M)²

In [11]:
SumMeanSquare2 <- sum(data$"(mean-M)²", na.rm = TRUE)

In [12]:
SumMeanSquare2

[1] 9.833333

### Compute sum of distance²

In [13]:
SumDistance2 <- sum(data$"distance²", na.rm = TRUE)

In [14]:
SumDistance2

[1] 44

### Compute mean square between dyads (MSb)

In [15]:
MSb <- (2*SumMeanSquare2) / (length(data$Dyade)-1)

In [16]:
MSb

[1] 3.933333

### Compute mean square within dyads (MSw)

In [17]:
length(data$mean[!is.na(data$mean)])

[1] 6

In [18]:
MSw <- SumDistance2 / (2*length(data$mean))

In [19]:
MSw

[1] 3.666667

### Compute intraclass correlation (ICC)

In [20]:
ICC <- (MSb - MSw) / (MSb + MSw)

In [21]:
ICC

[1] 0.03508772

### Compute F value

In [22]:
F <- MSb / MSw

In [23]:
F

[1] 1.072727

### Compute p value

In [24]:
p <- pf(q=F, df1=length(data$Dyad)-1, df2=length(data$Dyad), lower.tail=TRUE)
p

[1] 0.541775

<h2><span style="color:red"> if p-value <.05, scores are non-independant </span></h2>